/*! CSS Used from: https://www.ajol.info/index.php/aa/$$$call$$$/page/page/css?name=bootstrap */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
header,
main,
nav,
section {
  display: block;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
}
button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
input {
  line-height: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  padding: 0;
}
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
[role="button"] {
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
p {
  margin: 0 0 10px;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul {
  margin-bottom: 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-sm-4,
.col-md-4,
.col-md-6,
.col-sm-8,
.col-md-8,
.col-xs-12,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .col-sm-4,
  .col-sm-8 {
    float: left;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-4,
  .col-md-6,
  .col-md-8,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
}
table {
  background-color: transparent;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active {
  color: #333;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default:active:focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-primary {
  color: #fff;
  background-color: #6ba439;
  border-color: #2e6da4;
}
.btn-primary:focus {
  color: #fff;
  background-color: #6ba439;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active {
  color: #fff;
  background-color: #286090;
  background-image: none;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary:active:focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.collapse {
  display: none;
}
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active {
  z-index: 2;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}
.media {
  margin-top: 15px;
}
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.media-body {
  width: 10000px;
}
.media-body {
  display: table-cell;
  vertical-align: top;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.container:after,
.container-fluid:after,
.row:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.visible-xs,
.visible-lg {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
.navbar-brand-logo img {
  max-height: 100%;
  width: auto;
}
.navbar-default .nav > li > a {
  color: #777;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:active {
  color: #333;
  background: transparent;
}
.navbar-default .nav > li > a:disabled {
  color: #ccc;
  background: transparent;
}
.pkp_page_index .journal-description {
  margin-top: 2em;
  margin-bottom: 2em;
}
@media (min-width: 992px) {
  .pull-md-right {
    float: right;
  }
}
h4.media-heading {
  font-size: 18px;
}
.media {
  margin-top: 2em;
  margin-bottom: 2em;
}
/*! CSS Used from: https://www.ajol.info/plugins/themes/bootstrap3/styles/ajol33.css?v=3.3.0.11 */
@media (max-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 44%;
  }
}
body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
h1 {
  font-family: "Libre Baskerville", serif;
  color: #3b9e61;
  font-size: 4rem;
  line-height: 1.2em;
  margin: 20px 10px 30px 0px;
  font-weight: 700;
}
h2 {
  font-family: "Libre Baskerville", serif;
  color: #3b9e61;
  margin: 10px 10px 10px 0px;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.3em;
}
h3 {
  color: #f29900;
  margin: 10px 10px 10px 0px;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.5em;
}
h4 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
}
a:link {
  color: #3b9e61;
  text-decoration: underline;
}
a:visited {
  color: #3b9e61;
  text-decoration: underline;
}
a:hover {
  color: #dfdc32;
  text-decoration: none;
}
a:active {
  color: #dfdc32;
  text-decoration: none;
}
.media {
  margin-top: 2em;
  margin-bottom: 0;
}
h4.media-heading {
  font-size: 1.5rem;
}
a.btn:link {
  color: #fff;
  text-decoration: none;
  padding: 12px;
  width: 180px;
}
a.btn:visited {
  color: #fff;
}
a.btn:hover {
  color: #fff;
}
a.btn:active {
  color: #fff;
}
.navbar {
  background-color: #fff;
  border-color: #fff;
  margin-bottom: 8px;
}
.navbar a:link {
  text-decoration: none;
}
.navbar a:visited {
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: none;
}
.navbar a:active {
  text-decoration: none;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-brand {
  padding: 10px;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.site-names {
  vertical-align: middle;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 21px;
}
.dropdown-menu {
  margin-top: 30px;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.175);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.175);
  min-width: 180px;
  padding-bottom: 0px;
}
ul.dropdown-menu a:hover {
  color: #fff;
  background-color: red;
}
.dropdown-menu > li {
  border-bottom: 1px solid #ccc;
  margin: 5px 10px 0 10px;
}
.dropdown-menu > li a {
  color: #2e7a57;
  padding: 5px 20px 8px 0px;
}
@media (max-width: 768px) {
  .dropdown-menu > li {
    border-bottom: 0px solid #ccc;
  }
  .navbar-nav > li > a {
    line-height: 15px;
  }
}
.navbar-default .navbar-nav > li > a:link {
  color: #2e7a57;
}
.navbar-default .navbar-nav > li > a:visited {
  color: #2e7a57;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #ffffff;
  color: #dfdc32;
}
.nav > li > a {
  padding: 1px 15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 0px;
}
ul.nav a:hover {
  background-color: #ffffff;
  color: #dfdc32 !important;
}
ul.nav > li > a:hover {
  background-color: #ffffff;
  color: #dfdc32 !important;
}
.navbar {
  min-height: 0px;
}
.page-header {
  color: #fff;
  padding: 0px 10px 0px 20px;
  margin: 10px 0 50px;
  border-bottom: 0px solid #fff;
}
#site-menu-hamburger {
  background-color: #47bf61;
}
.navbar-default .navbar-toggle {
  border-color: #2e7a57;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.ajolBreadcrumbs {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  margin-top: 0px;
  padding-left: 0px;
  font-size: 18px;
  color: #3b9e61;
}
@media only screen and (min-width: 768px) {
  .pageFooter {
    padding-left: 60px;
    padding-right: 60px;
  }
}
div#___gcse_0 {
  width: 330px;
  height: 50px;
  float: left;
  margin-right: 40px;
}
div#___gcse_1 {
  width: 300px;
  height: 50px;
  float: right;
}
.gsc-input-box {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
#navigationUser {
  float: right;
  padding-top: 10px;
  font-size: 1.5rem;
}
.btn-default {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  height: 42px;
  width: 100px;
  background-color: #e0e0e0;
  color: #fff;
  border-radius: 50px;
  border: 0px solid transparent;
  text-transform: uppercase;
}
.btn-primary {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  height: 42px;
  width: 100px;
  background-color: #6ba439;
  color: #fff;
  border-radius: 50px;
  border: 0px solid transparent;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: #dfdc32;
}
.btn-green {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  height: 42px;
  width: 100px;
  background-color: #3b9e61;
  color: #fff;
  border-radius: 50px;
  border: 0px solid transparent;
  text-transform: uppercase;
}
.btn-green:hover {
  background-color: #47bf61;
  color: #fff;
}
.btn-circle {
  width: 34px;
  height: 34px;
  padding: 4px 4px;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
}
.ajol-footer {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 2em;
  padding: 30px;
}
.ajol-footer a {
  color: #000;
  text-decoration: none;
}
.pageFooter {
  font-size: 0.8em;
  background-color: #2e7a57;
  color: #ffffff;
  padding: 2em;
  margin-top: 2em;
}
/*! CSS Used from: https://www.google.com/cse/static/element/8fa85d58e016b414/default+en.css */
form.gsc-search-box {
  font-size: 13px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;
  width: 100%;
}
table.gsc-search-box {
  border-style: none;
  border-width: 0;
  border-spacing: 0 0;
  width: 100%;
  margin-bottom: 2px;
}
table.gsc-search-box td {
  vertical-align: middle;
}
table.gsc-search-box td.gsc-input {
  padding-right: 12px;
}
.gsc-search-button {
  width: 1%;
}
.gsc-search-button-v2 svg {
  fill: #fff;
}
.gsc-clear-button {
  width: 14px;
}
.gsc-search-button {
  margin-left: 2px;
}
.gsc-clear-button {
  display: inline;
  text-align: right;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("https://www.google.com/cse/static/css/v2/clear.png");
  cursor: pointer;
}
.gsc-clear-button:hover {
  background-image: url("https://www.google.com/cse/static/css/v2/clear-hover.png");
}
.gsc-search-box-tools .gsc-clear-button {
  display: none;
}
input.gsc-input {
  padding: 1px 6px;
  border: 1px solid #ddd;
  width: 99%;
}
/*! CSS Used from: https://www.google.com/cse/static/style/look/v4/default.css */
.gsc-input {
  font-size: 16px;
}
.gsc-input-box {
  border: 1px solid #dfe1e5;
  background: #fff;
}
.gsc-search-button-v2 {
  font-size: 0;
  padding: 6px 27px;
  width: auto;
  vertical-align: middle;
  border: 1px solid #666;
  border-radius: 2px;
  border-color: #3079ed;
  background-color: #4d90fe;
  background-image: linear-gradient(top, #4d90fe, #4787ed);
}
.gsc-search-button-v2:hover {
  border-color: #2f5bb7;
  background-color: #357ae8;
  background-image: linear-gradient(top, #4d90fe, #357ae8);
}
.gsc-search-button-v2 svg {
  fill: #fff;
}
/*! CSS Used from: https://www.google.com/cse/static/element/8fa85d58e016b414/default+en.css */
form.gsc-search-box {
  font-size: 13px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;
  width: 100%;
}
table.gsc-search-box {
  border-style: none;
  border-width: 0;
  border-spacing: 0 0;
  width: 100%;
  margin-bottom: 2px;
}
table.gsc-search-box td {
  vertical-align: middle;
}
table.gsc-search-box td.gsc-input {
  padding-right: 12px;
}
.gsc-search-button {
  width: 1%;
}
.gsc-search-button-v2 svg {
  fill: #fff;
}
.gsc-clear-button {
  width: 14px;
}
.gsc-search-button {
  margin-left: 2px;
}
.gsc-clear-button {
  display: inline;
  text-align: right;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("https://www.google.com/cse/static/css/v2/clear.png");
  cursor: pointer;
}
.gsc-clear-button:hover {
  background-image: url("https://www.google.com/cse/static/css/v2/clear-hover.png");
}
.gsc-search-box-tools .gsc-clear-button {
  display: none;
}
input.gsc-input {
  padding: 1px 6px;
  border: 1px solid #ddd;
  width: 99%;
}
/*! CSS Used from: https://www.google.com/cse/static/style/look/v4/default.css */
.gsc-input {
  font-size: 16px;
}
.gsc-input-box {
  border: 1px solid #dfe1e5;
  background: #fff;
}
.gsc-search-button-v2 {
  font-size: 0;
  padding: 6px 27px;
  width: auto;
  vertical-align: middle;
  border: 1px solid #666;
  border-radius: 2px;
  border-color: #3079ed;
  background-color: #4d90fe;
  background-image: linear-gradient(top, #4d90fe, #4787ed);
}
.gsc-search-button-v2:hover {
  border-color: #2f5bb7;
  background-color: #357ae8;
  background-image: linear-gradient(top, #4d90fe, #357ae8);
}
.gsc-search-button-v2 svg {
  fill: #fff;
}
/*! CSS Used from: Embedded */
input.gsc-input,
.gsc-input-box {
  border-color: #2e7a57;
}
.gsc-search-button-v2,
.gsc-search-button-v2:hover,
.gsc-search-button-v2:focus {
  border-color: #2e7a57;
  background-color: #47bf61;
  background-image: none;
  filter: none;
}
/*! CSS Used from: Embedded */
.gscb_a {
  display: inline-block;
  font: 27px/13px arial, sans-serif;
}
.gsst_a .gscb_a {
  color: #a1b9ed;
  cursor: pointer;
}
.gsst_a:hover .gscb_a,
.gsst_a:focus .gscb_a {
  color: #36c;
}
.gsst_a {
  display: inline-block;
}
.gsst_a {
  cursor: pointer;
  padding: 0 4px;
}
.gsst_a:hover {
  text-decoration: none !important;
}
.gsst_b {
  font-size: 16px;
  padding: 0 2px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
}
.gsib_a {
  width: 100%;
  padding: 4px 6px 0;
}
.gsib_a,
.gsib_b {
  vertical-align: top;
}
.gssb_c {
  border: 0;
  position: absolute;
  z-index: 989;
}
.gssb_e {
  border: 1px solid #ccc;
  border-top-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: default;
}
.gssb_f {
  visibility: hidden;
  white-space: nowrap;
}
.gsib_a {
  padding: 5px 9px 4px 9px;
}
.gscb_a {
  line-height: 27px;
}
.gssb_e {
  border: 0;
}
.gssb_c {
  z-index: 5000;
}
.gssb_c > tbody > tr,
.gssb_c > tbody > tr > td,
.gssb_e {
  padding: 0;
  margin: 0;
  border: 0;
}
/*! CSS Used from: Embedded */
.gscb_a {
  display: inline-block;
  font: 27px/13px arial, sans-serif;
}
.gsst_a .gscb_a {
  color: #a1b9ed;
  cursor: pointer;
}
.gsst_a:hover .gscb_a,
.gsst_a:focus .gscb_a {
  color: #36c;
}
.gsst_a {
  display: inline-block;
}
.gsst_a {
  cursor: pointer;
  padding: 0 4px;
}
.gsst_a:hover {
  text-decoration: none !important;
}
.gsst_b {
  font-size: 16px;
  padding: 0 2px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
}
.gsib_a {
  width: 100%;
  padding: 4px 6px 0;
}
.gsib_a,
.gsib_b {
  vertical-align: top;
}
.gssb_c {
  border: 0;
  position: absolute;
  z-index: 989;
}
.gssb_e {
  border: 1px solid #ccc;
  border-top-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: default;
}
.gssb_f {
  visibility: hidden;
  white-space: nowrap;
}
.gsib_a {
  padding: 5px 9px 4px 9px;
}
.gscb_a {
  line-height: 27px;
}
.gssb_e {
  border: 0;
}
.gssb_c {
  z-index: 5000;
}
.gssb_c > tbody > tr,
.gssb_c > tbody > tr > td,
.gssb_e {
  padding: 0;
  margin: 0;
  border: 0;
}
/*! CSS Used from: Embedded */
input.gsc-input,
.gsc-input-box {
  border-color: #2e7a57;
}
.gsc-search-button-v2,
.gsc-search-button-v2:hover,
.gsc-search-button-v2:focus {
  border-color: #2e7a57;
  background-color: #47bf61;
  background-image: none;
  filter: none;
}
/*! CSS Used from: https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css */
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-caret-down-fill::before {
  content: "\f229";
}
.bi-download::before {
  content: "\f2ea";
}
.bi-facebook::before {
  content: "\f324";
}
.bi-linkedin::before {
  content: "\f44f";
}
.bi-twitter::before {
  content: "\f5b7";
}
.bi-youtube::before {
  content: "\f5ef";
}
/*! CSS Used fontfaces */
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("https://www.ajol.info/plugins/themes/bootstrap3/bootstrap/fonts/glyphicons-halflings-regular.eot");
  src: url("https://www.ajol.info/plugins/themes/bootstrap3/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.ajol.info/plugins/themes/bootstrap3/bootstrap/fonts/glyphicons-halflings-regular.woff2")
      format("woff2"),
    url("https://www.ajol.info/plugins/themes/bootstrap3/bootstrap/fonts/glyphicons-halflings-regular.woff")
      format("woff"),
    url("https://www.ajol.info/plugins/themes/bootstrap3/bootstrap/fonts/glyphicons-halflings-regular.ttf")
      format("truetype"),
    url("https://www.ajol.info/plugins/themes/bootstrap3/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular")
      format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw0aXpsog.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw9aXpsog.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw2aXpsog.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw3aXpsog.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aXo.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMICA.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY5KcCsww.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY3KcA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "bootstrap-icons";
  src: url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/fonts/bootstrap-icons.woff?4601c71fb26c9277391ec80789bfde9c")
      format("woff"),
    url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/fonts/bootstrap-icons.woff2?4601c71fb26c9277391ec80789bfde9c")
      format("woff2");
}
